<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="{{url_for('predict')}}">
	<!-- <input type="text" name="msg" value="face"> -->
	<!-- <input type="text" name="msg" value="face"> -->
                
	<input type="submit" name="submit" value="Face-Gender Detection" value="face">
	</form>
	
	<form method="POST" action="result">
	<!-- <input type="text" name="msg" value="face"> -->
	<!-- <input type="text" name="msg" value="face"> -->
                
	<input type="submit" name="submit" value="Face-Landmark Detection" value="face">
	</form>
	


</body>
</html>